/*
1. Posicionamiento
2. Box Model
3. Tipografía
4. Visuales
5. Otros
*/
:root {
    --color-bitcoin-orange: #F7931A;
    --color-soft-orange: #FFE9D5;
    --color-secondary-blue: #1A9AF7;
    --color-soft-blue: #E7F5FF;
    --color-warm-black: #282623;
    --color-black: #201e1c;
    --color-grey: #bababa;
    --color-off-white: #faf8f7;
    --color-just-white: #fff;    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px; /*320px is the shortes width resolution of any mobile*/
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--tittle-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px; /*Usará un width siempre de 90% entre 288px & 900px*/ 
    height: 218px;
    margin-top: 40px;
}

.header--tittle-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--color-just-white);
}

.header--tittle-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--color-soft-orange);
}

.header--tittle-container .header--button {
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--color-off-white);
    text-decoration: none;
    /*Shadows*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--color-black); 
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/down-arrow.svg');
}

main {
    width: 100%;
    height: auto;
    background-color: var(--color-off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding: 80px 0px 30px 0px;
    text-align: center;
}

.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width:  900px;
    margin: 0 auto;
}

.main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url(./assets/imgs/Bitcoin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--color-black);
}

.main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.65rem;
    color: #757575;
}

.main-currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.main-currency-table .currency-table--title {
    font-size: 1.85rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--color-bitcoin-orange);
    margin-top: 10px;
}

.currency-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table--container table {
    width: 100%;
    height: 100%;
}

.currency-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--color-grey);
    background-color: var(--color-just-white);
}

.currency-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right {
    border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}

.currency-table--container .table__bottom-right {
    border-radius: 0 0 15px 0;
}

.currency-table--container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency-table--container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(./assets/icons/trending-down.svg);
    background-size: cover;
    background-attachment: center;
    background-repeat: no-repeat;
}

.currency-table--container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(./assets/icons/trending-up.svg);
    background-size: cover;
    background-attachment: center;
    background-repeat: no-repeat;
}

.currency-table--date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--color-soft-orange);
    border-radius: 8px;
} 

.currency-table--date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--color-warm-black);
}

.main-currency-table .currency-table--title--blue {
    color: var(--color-secondary-blue);
}

.currency-table--date--blue {
    background-color: var(--color-soft-blue);
}

/*Sección beneficios*/

.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--color-warm-black);
}

.product-detail-batata-logo {
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url(./assets/icons/batata.svg);
}

.product-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--color-just-white);
}

.product-detail--title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.85rem;
    color: #808080;
}

.product-detail--card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--color-black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail--card .clock {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(./assets/icons/clock.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-card--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--color-just-white);
}

.product-card--body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080ef;
}

.product-detail--card .eye {
    background-image: url(./assets/icons/eye.svg);
}

.product-detail--card .money{
    background-image: url(./assets/icons/dollar-sign.svg);
}

.product-detail--card .success {
    background-image: url(./assets/icons/check-circle.svg);
}

.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('./assets/imgs/bitcoinbaby2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  /* Para no repetir imagen si esta es muy pequeña.*/
    text-align: center;
}

.bitcoin-img-container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--color-just-white);
}

.main-plans-container {
    height: 70vw;
}