/*
1. Posicionamiento
2. Box Model
3. Tipografía
4. Visuales
5. Otros
*/
:root {
    --color-bitcoin-orange: #F7931A;
    --color-soft-orange: #FFE9D5;
    --color-secondary-blue: #1A9AF7;
    --color-soft-blue: #E7F5FF;
    --color-warm-black: #282623;
    --color-black: #201e1c;
    --color-grey: #bababa;
    --color-off-white: #faf8f7;
    --color-just-white: #fff;    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px; /*320px is the shortes width resolution of any mobile*/
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--tittle-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px; /*Usará un width siempre de 90% entre 288px & 900px*/ 
    height: 218px;
    margin-top: 40px;
}

.header--tittle-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--color-just-white);
}

.header--tittle-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--color-soft-orange);
}

.header--tittle-container .header--button {
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--color-off-white);
    text-decoration: none;
    /*Shadows*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--color-black); 
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/down-arrow.svg');
}

main {
    width: 100%;
    height: auto;
    background-color: var(--color-off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding: 80px 0px 0px 30px;
    text-align: center;
}

.main-exchange-container--tittle {
    width: 90%;
    min-width: 288px;
    max-width:  900px;
    margin: 0 auto;
}
